<mat-card>
  <mat-card-content>

    <h2>
      We believe in giving back to the development community through open source.
    </h2>

    <nvd3 [options]="chartOptions" [data]="donationData"></nvd3>

    <h2>Donors like you have contributed:</h2>

    <table>
      <tr>
        <td class="lg money">{{donations.money | currency:'USD' : 'symbol' : '1.0-0'}}</td>
        <td class="sm">and</td>
        <td class="lg time">{{donations.time | number : '1.0-0'}} hours</td>
      </tr>
    </table>
    <h2>...since the start of Iterate!</h2>

    <h2 style="text-align: center">You are awesome!</h2>
  </mat-card-content>
</mat-card>
