@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  background-color: #424242;
}

mat-card-content {
  max-width: 600px;
  margin: 0 auto;
}

mat-card-actions {
  text-align: center;
  margin-bottom: 10px !important;
}

mat-card-footer {
  max-width: 600px;
  font-size: .8em;
  font-style: italic;
  margin: 0 auto !important;
  margin-bottom: -24px;
}

mat-card-actions.stacked button {
  width: 60%;
  max-width: 400px;
  min-width: 400px;
}

@media only screen and (orientation: portrait)  {
  mat-card-actions {
    margin-bottom: 5px !important;
  }

  mat-card-actions button {
    width: 80%;
  }

  mat-card-actions button:last-child {
    margin-top: 10px !important;
  }

  mat-card-actions.stacked button {
    width: 80%;
    min-width: 200px;
  }
}

h2 {
  text-align: center;
  margin: 20px;
}

a {
  color: #13C0f9
}

.pledge {
  display: block;
  font-size: 1.5em;
}

.form {
  margin: 0 auto;
  max-width: 300px;
}

mat-form-field {
  min-width: 300px;
}

footer {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: .8em;
}

footer a {
  color: #13C0f9;
}
