<mat-card>
  <form #moneyForm="ngForm" (ngSubmit)="save(moneyForm.value)" autocomplete="off">
    <input type="hidden" name="type" [(ngModel)]="donation.type">
    <mat-card-content>
      <p>By pledging to donate money below, you're directly supporting open source projects.</p>

      <p>We've teamed up with OpenCollective (a non-profit which distributes donations to a number of large open source
        projects) to collect funds. OpenCollective distributes these funds to over 400 certified open source projects.
        You
        can read more about OpenCollective and their mission at <a href="https://opencollective.com/opensource">https://opencollective.com/opensource</a>.
      </p>

      <h2>Pledge to Donate Money to Open Source</h2>

      <div class="form">
      <p>
        <mat-form-field>
          <input matInput placeholder="Your Name" required name="name"
                 [(ngModel)]="donation.name" #name appFocus>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput type="email" placeholder="Your Email" required name="email"
                 [(ngModel)]="donation.email" #email>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput type="number" step="0.01" value="0.00" min="0"
                 placeholder="Donation Amount" required name="amount"
                 [(ngModel)]="donation.amount" #amount>
        </mat-form-field>
      </p>
      </div>
    </mat-card-content>
    <mat-card-actions class="stacked">
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!moneyForm.form.valid">
        <span class="pledge">I Pledge</span>
        <span class="pledge-description">To Donate the Amount Above</span>
      </button><br>
      <button mat-button routerLink="/home">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
