<mat-card>
  <mat-card-content>
    <p>Iterate is all about becoming a better developer and better person. We think a big part of being a better
      developer and person is contributing back to the development community.</p>

    <p>If contributing back to the developer community is something you also believe in, please donate either time (or
      money) to open source. We've teamed up with OpenCollective (a non-profit which distributes donations to a number
      of large open source projects) to collect funds.</p>

    <p>By pledging your money below you're directly helping other creators like yourself and supporting open source
      development for the entire community.</p>

    <p>If you can't or don't want to donate money: you can also pledge to donate your time. Donating time or contribute
      to an open source project can be a great experience for you and make a lasting positive impact on software that
      developers use every day.</p>

    <h2>Pledge Now!</h2>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-raised-button color="primary" routerLink="/money">I want to donate money</button>
    <button mat-button mat-raised-button color="primary" routerLink="/time">I want to donate time</button>
  </mat-card-actions>
</mat-card>
