<mat-card>
  <mat-card-title class="time">Time Donated</mat-card-title>
  <mat-card-content>
    <table>
      <thead>
      <tr>
        <th class="name">Name</th>
        <th>Hours</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let h of hours">
        <td>{{ h.name }}</td>
        <td>{{ h.hours | number : '1.0-0' }}</td>
      </tr>
      <tr>
        <td class="total-label">Total</td>
        <td class="total-value time">{{totalHours | number : '1.0-0'}}</td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title class="money">Money Donated</mat-card-title>
  <mat-card-content>
    <table>
      <thead>
      <tr>
        <th class="name">Name</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of dollars">
        <td>{{ d.name }}</td>
        <td>{{ d.amount | currency:'USD' : 'symbol' : '1.0-0' }}</td>
      </tr>
      <tr>
        <td class="total-label">Total</td>
        <td class="total-value money">{{totalDollars | currency:'USD' : 'symbol' : '1.0-0'}}</td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
